<div class="card card-profile app-group-profile" *ngIf="group">
    <div class="card-header" [style.background-image]="profile_cover_photo">
        <img [style.opacity]="profile_photo==''?0:1" class="card-profile-img" src="{{profile_photo}}" width="120" height="120">
    </div>
    <div class="card-body text-center">
        <h3 class="mb-3"><a href="#">{{ group.displayed_name }}</a> <i class="fa fa-edit edit-group-btn" (click)="editGroup()"></i></h3>
        <p class="mb-4">
            {{group.description|slice:0:descriptionLengthLimit}}
            {{group.description.length > descriptionLengthLimit ? '...' : ''}}
        </p>
        <table class="table card-table">
            <tr>
                <td width="1"><i class="fa fa-user text-muted"></i></td>
                <td>Group ID</td>
                <td>{{group.id}}</td>
            </tr>
            <tr>
                <td width="1"><i class="fa fa-user text-muted"></i></td>
                <td>Owner</td>
                <td class="trunc"><a href="#">{{group.owner.displayed_name}}</a> <i class="fa fa-edit" style="margin-left: 1em; cursor: pointer;" (click)="changeOwner()"></i></td>
            </tr>
            <tr>
                <td width="1"><i class="fa fa-map text-muted"></i></td>
                <td>Location</td>
                <td class="trunc">{{group.location.complete_city_address}}</td>
            </tr>
            <tr>
                <td width="1"><i class="fa fa-users text-muted"></i></td>
                <td>Members</td>
                <td>{{group.total_members}}</td>
            </tr>
            <tr>
                <td width="1"><i class="fa fa-lock text-muted"></i></td>
                <td>Access</td>
                <td>{{group.group_member_access_control}}</td>
            </tr>
            <tr>
                <td width="1"><i class="fa fa-lock text-muted"></i></td>
                <td>Approvable</td>
                <td>{{group.approvable ? "YES" : "No"}}</td>
            </tr>
            <tr *ngFor="let field of group.custom_fields">
                <td width="1"><i class="fa fa-star text-muted"></i></td>
                <td>{{field.label}}</td>
                <td class="truncate">{{field.value}}</td>
            </tr>
        </table>
    </div>
</div>
