<div class="card card-profile app-user-modal card-transparent" *ngIf="user">
    <div class="card-header" [style.background-image]="profile_cover_photo"></div>
    <div class="card-body text-center">
        <img class="card-profile-img" src="{{profile_photo}}">
        <h3 class="mb-3">
            <a href="/user/{{user.id}}">{{ user.displayed_name }}</a>
            <i class="fa fa-edit edit-user-btn" (click)="editUser()"></i>
        </h3>
        <p class="mb-4" *ngIf="user.presentation">
            {{user.presentation|slice:0:descriptionLengthLimit}}
            {{user.presentation.length > descriptionLengthLimit ? '...' : ''}}
        </p>
        <table class="table card-table">
            <tr>
                <td width="1"><i class="fa fa-user text-muted"></i></td>
                <td>User ID</td>
                <td>{{user.id}}</td>
            </tr>
            <tr>
                <td width="1"><i class="fa fa-user text-muted"></i></td>
                <td>Name</td>
                <td><a href="/user/{{user.id}}">{{user.displayed_name}}</a></td>
            </tr>
            <tr>
                <td width="1"><i class="fa fa-map text-muted"></i></td>
                <td>Location</td>
                <td *ngIf="user.living_location">{{user.living_location.complete_city_address}}</td>
                <td *ngIf="!user.living_location">Not defined</td>
            </tr>
            <tr *ngFor="let field of user.custom_fields">
                <td width="1"><i class="fa fa-star text-muted"></i></td>
                <td>{{field.label}}</td>
                <td>{{field.value}}</td>
            </tr>
        </table>
    </div>
</div>
