<div class="login-wrapper ">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <div class="img-holder" [ngStyle]="{'background':'url(assets/img/auth/login_background.png)'}"></div>
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <h2 class="semi-bold text-white">
                <b>{{config.name}}</b> admin panel</h2>

            <p class="small">
            </p>
        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="{{config.logo_256x256_url}}" alt="logo" pgRetina height="32"><b class="ml-2">{{config.name}}</b>

            <p class="p-t-35">Sign into your admin account</p>
            <!-- START Login Form -->
            <form class="p-t-15" role="form" #loginForm="ngForm" (ngSubmit)="login()">
                <!-- START Form Control-->
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)">
                    <label>Email</label>
                    <input type="text" id="userName" name="userName" [(ngModel)]="email" #loginEmail="ngModel" required placeholder="User Name" class="form-control">
                </div>
                <div *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)">
                    <label *ngIf="loginEmail.errors.required" class="error">This field is required.</label>
                </div>
                <!-- END Form Control-->
                <!-- START Form Control-->
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" [(ngModel)]="password" #loginPassword="ngModel" required>
                </div>
                <div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
                    <label *ngIf="loginPassword.errors.required" class="error">This field is required.</label>
                </div>
                <!-- START Form Control-->
                <div class="row">
                    <div class="col-md-6 no-padding sm-p-l-10">
                        <div class="checkbox ">
                            <input type="checkbox" value="1" id="checkbox1">
                            <label for="checkbox1">Keep Me Signed in</label>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                        <a href="javascript:void(0)" class="text-info small">Help? Contact Support</a>
                    </div>
                </div>
                <!-- END Form Control-->
                <button class="btn btn-primary btn-cons m-t-10" type="submit" [class.disabled]="loginForm.invalid">Sign in</button>
            </form>
            <!--END Login Form-->
            <!--<div class="pull-bottom sm-pull-bottom">
                <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                    <div class="col-sm-3 col-md-2 no-padding">
                        <img alt="" class="m-t-5" pgRetina src1x="assets/img/demo/pages_icon.png"
                             src2x="assets/img/demo/pages_icon_2x.png" height="60"
                             src="assets/img/demo/pages_icon.png" width="60">
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- END Login Right Container-->
</div>
