.border-connected {
  border-color: #81c784;
  border-width: 2.75px;
  border-style: solid;
}

.border-away {
  border-color: #ffb74d;
  border-width: 2.75px;
  border-style: solid;
}

.border-disconnected {
  border-color: #9e9e9e;
  border-width: 2.75px;
  border-style: solid;
}

.border-invisible {
  border-color: #9e9e9e;
  border-width: 2.75px;
  border-style: solid;
}

.border-account-disabled {
  border-color: #e57373;
  border-width: 2.75px;
  border-style: solid;
}